 .places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.places h1{
    font-size: 30px;
    width: 100%;
}
.places article{
    display: inline-block;
    width: 390px;
    margin: 20px;
    padding: 0px 20px 0 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #FF5A5F ;
    border-radius: 4px;
    
}

.places article h2 {

    font-size: 30px;
    text-align: center;

}