.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.places h1{
    font-size: 30px;
    width: 100%;
}
.places article{
    display: inline-block;
    width: 390px;
    margin: 20px;
    padding: 0px 20px 0 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #FF5A5F ;
    border-radius: 4px;
    
}

.places article h2 {

    font-size: 30px;
    text-align: center;

}

.price_by_night {
    border-style: solid ;
    color: #FF5A5F;
    border-color: #FF5A5F  ;
    border-radius: 100%;
    border-width: 4px;
    min-width: 60px;
    padding: 18px;
    height: 60px;
    line-height: 60px;
    position: relative;
    z-index: -1;
    top: -70px;
    font-size: 30px;
    float: right;
    text-align: center;

/* align-items: ; */
/* align: the top right (with space) */

}
.information{
    display: flex;
    height: 80px;
    padding: 10px;
    margin: 60px;
    border-style: solid none;
    border-color: #DDDDDD;
    border-width: 1px;
    justify-content: space-evenly;
    
    /* border: top and bottom #DDDDDD 1px */
}

.max_guest, .number_rooms, .number_bathrooms{
    width: 100%;
    height: 100%;
    background-size:auto;
    background-repeat: no-repeat;
    margin-left: 20px;


  
}

.max_guest {
    background-image: url("../images/icon_group.png");
 
}
.number_rooms {
    background-image: url("../images/icon_bed.png");
 
}
.number_bathrooms {
    background-image: url("../images/icon_bath.png");
 
}

.max_guest p, .number_rooms p, .number_bathrooms p {
    margin-top: 50px;
    margin-left: -15px;
}

.description p, .user p{
    text-align: left;
    overflow-wrap: break-word ;
}


